* {
    margin:0;
    padding: 0;
}

body {
    box-sizing: border-box;
}

header {
    display: flex;
    width:100%;
    height:5vh;
    background-color: rgb(72, 69, 69);
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
}

.hamburger {
    font-size: smaller;
    width: 2rem;
    height: 1.5rem;
    margin: 0.5rem;
}

.album {
    color:#fff;
}

.container {
    /* display: flex; */
    text-align: center;
    align-items: center;
    width: 100%;
    height: 20vh;
    margin: 2rem;
    justify-content: center;
}

.example {
    margin:0.5rem;
}

.buttons {
    margin: 1rem;
}

.main-call {
    background-color: rgb(43, 43, 239);
    color: #fff;
    padding: 0.4rem;
    border-radius: 0.3rem;
    border: transparent;
}

.secondary-action {
    background-color: rgb(63, 61, 61);
    color: #fff;
    padding: 0.4rem;
    border-radius: 0.3rem;
    border: transparent;
}

.cards-container {
    display: flex;
   
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1400px;
}

.bg-container {
    background-color: aliceblue;
    justify-content: center;
    align-items: center;
    margin: 1rem auto;
}

.card {
    height: 28vh;
    width: 35vh;
    margin: 10px;
    cursor: pointer;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    align-content: center;
    padding: 10px;
    font-family: sans-serif;
    font-weight: bold;
    background-color: #F5FFFA;
}

.thumbnail {
    background-color: rgb(36, 35, 35);
    height:20vh;
    color: #fff;
    text-align: center;
    /* align-content: center; */
    align-items: center;


}